@charset "UTF-8";

/*=================================================================
# mixins
==================================================================*/

//-------- color ----------------
// $color-main: #ffaa3b;
// $color-active: #f18900;
$color-text: #3e3e3e;
// $color-background: #f3f3f3;
// $color-disable: #b2b2b2;

//-------- font ----------------
$font-ja: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
$font-en: "Montserrat", sans-serif;

//-------- レイアウト幅 ----------------
$layout-width-canvas: 1280px;
$layout-width-inner: 1200px;

//-------- header高さ ----------------
$header-height: 80px;
$header-height-sp: 64px;

// ブレークポイント
$breakpoints: (
  //キー   値
	"sm": "(max-width: 767px)",
  "tab": "(width: 768px)",
	"md": "(min-width: 769px)",
	"tab-down": "(max-width: #{$layout-width-inner - 1px})",
	"tab-up": "(min-width: #{$layout-width-inner})",
	"retina": "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)",
) !default;

// メディアクエリー
@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

/*=================================================================
# common 全体の共通するスタイル
==================================================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: $color-text;
  font-family: $font-ja;
  line-height: 1.6875;
}

img {
  max-width: 100%;
}


.inner {
  width: 850px;
  max-width: 100%;
  margin: 0 auto;
}

.util-title {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  letter-spacing: .1em;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background: #000;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
/*=================================================================
# header
==================================================================*/
.header {
  padding: 10px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  h1 {
    display: inline-block;
    background: #393E46;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
  }

  ul {
    margin-left: auto;
    display: flex;
    li {
      &:last-child {
        margin-left: 30px;
      }
    }
  }
}

/*=================================================================
# main-visual
==================================================================*/

.main-visual {
  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}

/*=================================================================
# main
==================================================================*/
.main {

}
/*=================================================================
# about
==================================================================*/
.about {
  text-align: center;
}

/*=================================================================
# bicycle
==================================================================*/
.bicycle {
  text-align: center;
}

/*=================================================================
# footer
==================================================================*/
.footer {
  text-align: center;
}

.copyright {
  font-size: 12px;
}